ul.albums { 
  list-style-type : none;
  margin : 0;
  padding : 0;
}

ul.albums li { 
  background : #eeeeee;
  border : 1px #cccccc solid;
  margin : 1em 0;
  padding : 1em;
}

ul.albums li img { 
  float : left;
  padding-right : 4px;
  margin-right : 4px;
}

ul.albums li div.count { 
  clear : both;
}

ul.albums h3 { 
  margin : 0;
  padding : 0;
}

ul.images { 
  list-style-type : none;
  margin : 0;
  padding : 0;
}

ul.images li { 
  float : left;
  margin : 1em;
  width : 30%;
  height : 200px;
}